<app-menue></app-menue>
<br />

<div class="container">
  <div class="card">
    <div class="card-header text-white bg-success mb-3">
      Enter Interview Marks
    </div>
<!--    <student-info
      [myvariable]="inputValue"
      (myOutput)="getData($event)"
    ></student-info>
-->
<mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Select Program</mat-label>

      <mat-select [(ngModel)]="selectedProgramId" 
      name="programId"
      >
        <mat-option
          *ngFor="let program of programList"
          [value]="program.programId"
        >
          {{ program.programName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>Selected Program ID: {{ selectedProgramId }}</p>
    <mat-form-field appearance="outline" style="width: 300px;">
  <mat-label>Application Number</mat-label>

  <input
    matInput
    type="text"
    name="applicationNumber"
    [(ngModel)]="applicationNumber"
    #appNo
      required
      minlength="6"
      (ngModelChange)="onApplicationNumberChange($event)"
      placeholder="Enter Application Number">
 <mat-error *ngIf="appNo.errors?.required && appNo.touched">
    Application Number is required.
  </mat-error>

  <mat-error *ngIf="appNo.errors?.minlength && appNo.touched">
    Application Number must be at least 6 characters long.
  </mat-error>
 
</mat-form-field>

    
    <div #spinnerDiv>
      <progress-spinner></progress-spinner>
    </div>

    <!--   <div class="container" style="background-color: #92a8d1">-->
    <div class="container">
      <br />
      <div class="form-row">
        <div class="form-group col-md-3">
          <label>Interview marks</label>
        </div>

        <div class="form-group col-md-4">
          <input
            type="number"
            #marksVal
                      
            [(ngModel)]="marks"
            name="marks"
            class="form-control"
            placeholder="interview marks"
            (keyup.enter)="EnterMarks()"
           
          />
        </div>

        <div class="form-group col-md-3">
          <button
            type="button"
            #but1
            class="btn btn-success"
            (click)="EnterMarks()"
          >
            Enter Marks
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Not need Now Arush on 10-06-2024
<div class="container">
<button  type="button" class="btn btn-success" (click)="showImage()" >Show Image</button>
<img [src]="base64Image" />
</div>
Not need Now Arush on 10-06-2024 -->
<!--
<div class="container">
   
    <button  type="button" class="btn btn-success" (click)="showPDF()" >Show PDF</button>
    -->
<!--
    <ngx-extended-pdf-viewer 
[src]="'assets/100033.pdf'" useBrowserLocale="true" height="80vh">
</ngx-extended-pdf-viewer>

<pdf-viewer [src]="hell" [render-text]="true" style="display: block;">

</pdf-viewer>
</div>
-->
