<app-menue></app-menue>
<br>

<div class="container">

    <div class="card" >

        <div class="card-header text-white bg-success mb-3" >
            Enter Interview Marks
           </div>

           <student-info [myvariable]="inputValue" (myOutput)="getData($event)"></student-info>
           
           <div #spinnerDiv>
           <progress-spinner></progress-spinner>
          </div>
          
        <!--   <div class="container" style="background-color: #92a8d1">-->
    <div class="container" >
            <br>
         <div class="form-row" >

            <div class="form-group col-md-3">
                <label >Interview marks</label>
            </div>

            <div class="form-group col-md-4">
             <input type="number"   #marksVal   ngModel name = "marks" #marks="ngModel" class="form-control" placeholder="interview marks" (keyup.enter)="EnterMarks(marks.viewModel)" autofocus >
            </div>

            <div class="form-group col-md-3">
                <button  type="button" #but1 class="btn btn-success" (click)="EnterMarks(marks.viewModel)" >Enter Marks</button>
            </div>
    
        </div>
    </div>
    </div>
</div>


<!--  Not need Now Arush on 10-06-2024
<div class="container">
<button  type="button" class="btn btn-success" (click)="showImage()" >Show Image</button>
<img [src]="base64Image" />
</div>
Not need Now Arush on 10-06-2024 -->
 <!--
<div class="container">
   
    <button  type="button" class="btn btn-success" (click)="showPDF()" >Show PDF</button>
    -->
<!--
    <ngx-extended-pdf-viewer 
[src]="'assets/100033.pdf'" useBrowserLocale="true" height="80vh">
</ngx-extended-pdf-viewer>

<pdf-viewer [src]="hell" [render-text]="true" style="display: block;">

</pdf-viewer>
</div>
-->