<app-menue></app-menue>

<div class="form-group">
    <button class="btn btn-primary" (click)="bindApplication()" >Bind Applications</button>
</div>

<div class="form-group">
    <button class="btn btn-primary" (click)="populateEntranceTestList" >Populate Entrance Test List</button>
</div>

<div class="form-group">
    <button class="btn btn-primary" (click)="generateInterviewList()" >Generate Interview List</button>
</div>

<div #spinnerDiv class="form-group col-md-3">
    <progress-spinner></progress-spinner>
</div>